<footer class="footer">
    <section>
        <nav class="fml container tac fs11px ttu">
            <a href="javascript:void(0);" title="Terms Of Use">Terms &amp; Conditions</a>
            <a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a>
            <a href="javascript:void(0);" target="_blank" title="Contact Us">Contact Us</a>
        </nav>
    </section>

    <section class="copyright-ctnr">
        <div class="container fo">
            <p class="copyright fr">© 2017, Bold Limited. All rights reserved.</p>
            <p class="powered-by fl ttu">Powered By Ravi Shankar Kumar</p>
        </div>
    </section>
</footer>