.dropdown-container{width:290px;}
.dropdown-container .fa.fa-caret-up{color: #b9b9b9; font-size: 19px; right: 24px; top: 30px; z-index: 1;}
.selected-text{width:100%;height:40px;border:1px solid #b9b9b9;background-color:#fff;color:#46464c;cursor:pointer; font-size: 14px; font-weight: 600; padding:0 10px;line-height:38px;}
.selected-text .fa-caret-down{right:10px; top:0;}
.drop-down-list{width: 290px;max-height:250px;box-shadow: 0 0 5px rgba(193, 193, 193, 0.5);border: 1px solid #b9b9b9;background-color: #ffffff;left:0; top: 47px;}
.drop-down-list li{cursor:pointer;padding:10px;line-height:normal;}
.drop-down-list li:hover, .drop-down-list li.selected{background:#f6f8fa;color:#333;}


    